#nav {
  background-color: #ccc; 
  position: fixed; 
  top: 0; 
  width: 100%; 
  transition: top 0.3s; 
  display: flex;
  justify-content: flex-end;
}

#nav a {
  /* float: right; */
  display: block;
  color: darkred;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#nav a:hover {
  background-color: #ddd;
  color: black;
}

#s1{
  background-image: linear-gradient(to right rgba(255,255,255,0.9), #fefe33);
}

#s2{
  background-image: linear-gradient(to right rgba(255,255,255,0.9), #fabc02);
  
}

#s3{
  background-image: linear-gradient(to right rgba(255,255,255,0.9), #fb9902);
  
}

#s4{
  background-image: linear-gradient(to right rgba(255,255,255,0.9), #fd5308);
  
}

#s5{
  background-image: linear-gradient(to right rgba(255,255,255,0.9), #fe2712);
  
}

#s6{
  background-image: linear-gradient(to right rgba(255,255,255,0.9), #a7194b);
  
}

#s7{
  background-image: linear-gradient(to right rgba(255,255,255,0.9), #8601af);
  
}

#s8{
  background-image: linear-gradient(to right rgba(255,255,255,0.9), #3d01a4);
  
}

#s9{
  background-image: linear-gradient(to right rgba(255,255,255,0.9), #0247fe);
  
}

#s10{
  background-image: linear-gradient(to right rgba(255,255,255,0.9), #0392ce);
  
}

#s11{
  background-image: linear-gradient(to right rgba(255,255,255,0.9), #66b032);
  
}

#s12{
  background-image: linear-gradient(to right rgba(255,255,255,0.9), #d0eab2);
  
}

.card {
  background-color: #eee;
  /* margin: 20px; */
  transition-duration: 250ms;
  transition-timing-function: ease-in;
  /* max-width: 400px; */
}
.card:hover {
  box-shadow: 0 8px 6px -6px black;
  transition-duration: 250ms;
  transition-timing-function: ease-in;
}
.my-card-body{
  background-color: #ccc;
}
.flip-card {
  max-width: 500px;
  flex-basis: 20%;
  background-color: transparent;
  min-width: 200px;
  min-height: 200px;
  perspective: 1000px;
  
}

.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
/* text-align: center; */
transition: transform 0.6s;
transform-style: preserve-3d;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* .flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
} */

.card-front, .card-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}

.card-front .card-body{
background-color: #ccc;
}

.card-back {
background: linear-gradient(to bottom, rgba(50,50,50,0.5), rgba(25,25,25,1));
color: white;
transform: rotateY(180deg);
}
.card-back p, .card-back a{
  color: #eee;
}