@font-face {
    font-family: AgeoBold;
    src: url(./assets/fonts/ageo/AgeoPersonalUse-Bold.otf)
}

@font-face {
    font-family: AgeoLight;
    src: url(./assets/fonts/ageo/AgeoPersonalUse-Light.otf)
}

p {
    color: #0a065d;
    /* font-size: 10rem; */
}

body{
    background-color: #fff;
    position: relative;
    height: 100%;
    overflow-y: scroll;
}
a:hover{
	text-decoration: none;
}
#home {
    background: #ccc url("./assets/images/wheat.png") repeat;
    min-height: 100vh;
}

#home h1{
    color: #222;
}

#home-text{
    font-family: Garamond;
}

.fa-arrow-right, .fa-plus{
    font-size: 1.5rem;
}

.state {
    font-style: italic;
    font-size: 1.5rem;
    font-family: Garaomnd;

    font-weight: bold;
}

#about {
    background: #ccc url("./assets/images/prism.png") repeat;
    min-height: 100vh;
    color: #ddd;
}

#about p {
    color: #ddd;
}

#about hr {
    background-color: #ddd;
}

#portfolio {
    background: #aaa url("./assets/images/folk-pattern.png") repeat;
    min-height: 100vh;
}

#portfolio h1{
    color: #444;
    font-size: 4rem;    
}

.transparent-box {
    background-color: rgba(100,100,100,0.4);
    min-height: 100vh;

}

.text-box {
    background: linear-gradient(to top right, rgba(200,200,200,0.5), rgba(225,225,225,0.8));
    height: 30vh;
    border-radius: 5px;
    padding: 10vh;
    /* width: 80vh; */

}

#contact {
    background: #aaa url("./assets/images/folk-pattern-black.png") repeat;
    min-height: 100vh;
    background-color: #fff;
}

#contact h1{
    color: #aaa;
    font-size: 4rem;    
}


.nav-link{
    color: #ddd;
    margin-left: 5px;
    font-family: AgeoLight;
    font-size: 1.5rem;
}

.nav-link:hover{
    background-color: #aaa;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
}

.nav-link:active{
    color: #a3816a;
}

.navbar-brand {
    font-size: 2rem;
}

#firstName {
    color: #ddd;
    font-family: AgeoBold;
}

#lastName {
    color: #ddd;
    font-family: AgeoLight;
}


.fontAwesome:hover {
    color: #737373;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
}

.fontAwesome {
    font-size: 2rem;
    color : #1b3142;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
    margin: 0 20px 0 20px;
    padding: 10px 0;
}


.card {
    background-color: #eee;
    margin: 20px;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
    max-width: 400px;
}

.card:hover {
    box-shadow: 0 8px 6px -6px black;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
}

.fa-code {
    float: left;
}

.fa-link {
    float: right;
}

.myNav {
    font-size: 2rem;
    background-image: linear-gradient(to right, #1b3142, #221f1f, #aaa );
    border-bottom: #aaa solid 1px;
    margin-bottom: 10vh;
}

#validation-message{
    display: none;
}

#validation-text{
    color: #ddd;
}


footer {
    /* font-size: 2rem; */
    background-image: linear-gradient(to right, #1b3142, #f8f1f1, #1b3142);
    border-bottom: #222 solid 2px;
    box-shadow: #222;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 992px){
    #home-text{
        font-size: 2rem;
    }
    .state{
        font-size: 1.25rem;
    }
    .fa-arrow-right, .fa-plus{
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 768px){
    .nav-link {
        font-size: 1.25rem;
    }
    #home-text{
        font-size: 1.5rem;
    }
    .state{
        font-size: 1rem;
    }
    .fa-arrow-right, .fa-plus{
        font-size: 1rem;
    }
    .fa-link, .fa-code{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 576px){

    #home-text{
        font-size: 1rem;
    }
    .state{
        font-size: .8rem;
    }

    .fa-arrow-right, .fa-plus{
        font-size: 0.8rem;
    }
    .fontAwesome {
        margin: 0 10px 0
    }
}


@media only screen and (max-width: 457px){
    /* .nav-link {
        font-size: 0.5rem;
    }
    #home-text{
        font-size: 0.5rem;
    }
    .state{
        font-size: 0.4rem;
    }
    .fa-arrow-right{
        font-size: 0.4rem;
    } */
    /* .text-box {
        padding: 12vh 50px ;
    } */
}

