@font-face {
  font-family: AgeoBold;
  src: url(./assets/fonts/ageo/AgeoPersonalUse-Bold.otf)
}

@font-face {
  font-family: AgeoLight;
  src: url(./assets/fonts/ageo/AgeoPersonalUse-Light.otf)
}


html{
  scroll-behavior: smooth;
}

/* ==============VARIABLES=============== */

:root{
  --dark-red: rgb(112, 18, 23)
}

/* ====================================== */

/* ==============ANIMATION=============== */

@keyframes appear {
  from {opacity: 0; filter: blur(2rem);}
  to {opacity: 1; filter: blur(0);}
}
@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 1;}
}
@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-5px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-2px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
@keyframes bg-animation{
  0% {background-position: left}
  100% {background-position: right}
}
.appear{
  animation: appear 2s ease-in-out;
}
.fade-in-element {
  animation: fade-in 1.4s;
}
.bounce {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
.hidden {
  opacity: 0;
}
/* ===================================== */
/* =================NAV================= */
#firstName {
  color: var(--dark-red);
  font-family: AgeoBold;
}
#lastName {
  color: var(--dark-red);
  font-family: AgeoLight;
}
.myNav {
  font-size: 2rem;
  background-color: #eee;
  border-bottom: #aaa solid 1px;
}
.navbar-toggler{
  background-color: var(--dark-red);
}
.navbar-toggler-icon{
  background-color: var(--dark-red);
}
.navbar-collapse{
  display: flex;
  justify-content: flex-end;
}
.navbar-brand {
  font-size: 2rem;
}
.fontAwesome {
  color: var(--dark-red);
  padding: 20px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.fontAwesome:hover {
  background-color: var(--dark-red);
  color: #eee;
  border-radius: 1px;
  transition: 630ms ease;
}

/* ===================================== */

/* ===============ABOUT================= */
#about {
  color: #fff;
  position: absolute;
  min-width: 250px;
  left: 50%;
  margin: 33vh auto;
  transform: translate(-50%, 0);
}
#particles-js{
  background: linear-gradient(to top right, #000, #555);
  box-shadow: 0px 5px 25px 20px rgba(0,0,0,0.25); 
  text-align: center;

}
canvas {
  background: linear-gradient(to top right, #000, #555);
  min-height: 100vh;
  min-width: 100%;
}
h2{
  margin-bottom:0;
}
#blurb{
  opacity: 0;
}
#scroll-button{
  animation: bounce 2s infinite;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  cursor: pointer;
  color: var(--dark-red);
  margin: 0 auto 0 auto;
  background-color: #fff;
  height: 25px;
  width: 25px;
}

/* ===================================== */

/* =============PORTFOLIO=============== */

#portfolio {
  padding: 100px 0;
  background: url('./assets/images/dark-honeycomb.png');
}
#portfolio h1 {
  color: #eee;
  padding-bottom: 20px;
}
#aguacate{
  background: url("./assets/images/portfolio_thumbnails/aguacate_gray.JPG") no-repeat;
  background-size: cover;
}
#skillworx{
  background: url("./assets/images/portfolio_thumbnails/skillworx_gray.png") no-repeat;
  background-size: cover;
}
#straytx{
  background: url("./assets/images/portfolio_thumbnails/strayTX_gray.png") no-repeat;
  background-size: cover;
}
#zeolite{
  background: url("./assets/images/portfolio_thumbnails/z_o_lite_gray.jpg") no-repeat;
  background-size: cover;
}
#gif{
  background: url("./assets/images/portfolio_thumbnails/for_gif_about_it_gray.jpg") no-repeat;
  background-size: cover;
}
#database{
  background: url("./assets/images/portfolio_thumbnails/database_dive_gray.jpg") no-repeat;
  background-size: cover;
}
#bbq{
  background: url("./assets/images/portfolio_thumbnails/BBQ_gray.jpg") no-repeat;
  background-size: cover;
}
#friend{
  background: url("./assets/images/portfolio_thumbnails/friend_finder_gray.jpg") no-repeat;
  background-size: cover;
}
#trivia{
  background: url("./assets/images/portfolio_thumbnails/trivia_game_gray.jpg") no-repeat;
  background-size: cover;
}
.tarjeta{
  position: relative;
  width: 90%;
  margin: 10px auto 40px auto;
  border: 1px solid #ddd;
  border-radius: 1px;
  box-shadow: -4px 4px 1px 0px rgba(255,255,255,0.5);
  padding: 20px;
  background-color: #fff;
}
.description{
  max-width: 50%;
}
.hex-pattern {
  height: 25px;
  width: auto;
  margin: 0;
  padding:0;
}
.hex-border {
  position: absolute;
  top: 10px;
  right: 20px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background-color: var(--dark-red);
  margin: 10px auto;
  height: 220px;
  width: 220px;      
}
.hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  margin: 10px auto;
  height: 200px;
  width: 200px;      
}
.small-hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background-color: #ddd;
  margin: 10px;
  height: 50px;
  width: 50px;      
}
.project-links a {
  color: var(--dark-red);
}
.project-links a:hover {
  color: #ddd;
}
.project-links a .small-hexagon{
  transition: 630ms ease;
}
.project-links a:hover .small-hexagon{
  background-color: var(--dark-red); 
  transition: 630ms ease;
}
.badge, .btn{
  border-radius: 1px;
}
.badge-list{
  max-width: 50%;
}

/* ===================================== */

@media only screen and (max-width: 768px){
  .hex-border{
    display: none;
  }
  .description, .badge-list{
    max-width: 100%;
  }
}